.review {
	background-image: url(../img/bg\ avatar.svg);
	width: 1360px;
	height: 700px;

	.trailer {
		width: 220px;
		height: 60px;
		margin-top: 310px;
		margin-left: 550px;
		background-color: #0b0e66;
		color: #26c7ea;
		font-family: "HeadlandOne";
		font-weight: 400;
		font-size: 24px;
		line-height: 30px;
		border: 2px solid #26c7ea;
		border-radius: 40px 0px;
	}
}

.angel {
	font-family: "Inter";
	font-weight: 400;
	font-size: 36px;
	line-height: 44px;

	h1 {
		width: 857px;
		height: 92px;
		margin: 0 auto;
		text-align: center;
		padding-top: 79px;
	}
	p {
		width: 142px;
		height: 29px;
		margin: 0 auto;
		font-size: 24px;
		line-height: 29px;
		padding-top: 16px;
	}
	img {
		width: 400px;
		height: 120px;

		margin-left: 480px;
		padding-top: 8px;
	}
}

.modal {
	background: url(../img/bg\ sign-up.svg);
	width: 600px;
	height: 404px;

	position: fixed;
	z-index: 2;
	left: 50%;
	top: 50%;

	transform: translate(-50%, -50%);

	.modalForm {
		display: flex;
		flex-direction: column;
		margin-top: 113px;
		margin-left: 80px;

		p {
			color: #0b0e66;
			font-family: "Inter";
			font-size: 24px;
			line-height: 29px;
		}

		.item {
			width: 440px;
			height: 40px;
		}

		button {
			width: 260px;
			height: 80px;
			margin-top: 39px;
			margin-left: 90px;

			background-color: #0b0e66;
			color: #26c7ea;
			font-family: "HeadlandOne";
			font-weight: 400;
			font-size: 24px;
			line-height: 30px;
			border: 2px solid #26c7ea;
			border-radius: 40px 0px;
		}

		.email {
			margin-top: 12px;
		}
	}
}
